// Media
$maxMobile: '(max-width: 767px)';
$minSmall: '(min-width: 768px)';
$maxSmall: '(max-width: 991px)';
$minMedium: '(min-width: 992px)';
$minLarge: '(min-width: 1200px)';
// Colors
$mainColor: #e2494c;
$secondaryColor: #9c9c9c;
$mainTransition: 0.3s ease-in-out;
// Float
$floatLeft: left;
$floatRight: right;
$textAlign: left;
// Page Direction
$pageDirection: rtl;
